<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checking out with Cybersource Flex Microform</title>
    <script src="https://flex.cybersource.com/cybersource/assets/microform/0.11/flex-microform.min.js"></script>
    <!-- <script src="index.js"></script> -->

</head>
<body>
    <h1>Checkout</h1>
                <div id="errors-output" role="alert"></div>
                <form action="/token" id="my-sample-form" method="post">
                    <div class="form-group">
                        <label for="cardholderName">Name</label>
                        <input id="cardholderName" class="form-control" name="cardholderName" placeholder="Name on the card">
                        <label id="cardNumber-label">Card Number</label>
                        <div id="number-container" class="form-control"></div>
                        <label for="securityCode-container">Security Code</label>
                        <div id="securityCode-container" class="form-control"></div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="expMonth">Expiry month</label>
                            <select id="expMonth" class="form-control">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="expYear">Expiry year</label>
                            <select id="expYear" class="form-control">
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                            </select>
                        </div>
                    </div>

                    <button type="button" id="pay-button" class="btn btn-primary">Pay</button>
                    <input type="hidden" id="flexresponse" name="flexresponse">
                </form>
</body>
<script>
     // Variables from the HTML form 
     var form = document.querySelector('#my-sample-form');
        var payButton = document.querySelector('#pay-button');
        var flexResponse = document.querySelector('#flexresponse');
        var expMonth = document.querySelector('#expMonth');
        var expYear = document.querySelector('#expYear');
        var errorsOutput = document.querySelector('#errors-output');
        
        // the capture context that was requested server-side for this transaction
        var captureContext =   "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAoRHPYxLkoiU0EUjeFBCwr09TRc8RPuT4Z6Q+mNhC0dEluoigspXK7vkB2lU+EtppUhZPqONAJzZqgMU5w4PaI2VQICXCEnrPjNdIVsTNLQFXKBmLuofmdxwXA5WQ4gpTwdqlfCsqQSUBBm78e7Ey1S44QBPeEVsLH7KCvQ2ew83IjCJ2Sh58+cLFxOrYkT6BRWgsAFedQNCrCJXI7wm3hyRB8NZX5hZSOVdyxTuSdwpf18YH03WAR6mJjRTXdtly0IUO61ZCAodz1mAHn5vkrzPaGnGBFbEk4Rh55YZ8/iiuch1mvY0hGJAkSOz5ZgoAaIa81cHKuRKqEXTPats+KwIDAQAB"
   
       
        var myStyles = {  
          'input': {    
            'font-size': '14px',    
            'font-family': 'helvetica, tahoma, calibri, sans-serif',    
            'color': '#555'  
          },  
          ':focus': { 'color': 'blue' },  
          ':disabled': { 'cursor': 'not-allowed' },  
          'valid': { 'color': '#3c763d' },  
          'invalid': { 'color': '#a94442' }
        };
        // setup Microform
        try {
            var flex = new Flex(captureContext);
            var microform = flex.microform({ styles: myStyles });
            var number = microform.createField('number', { placeholder: 'Enter card number' });
            var securityCode = microform.createField('securityCode', { placeholder: '•••' });
            number.load('#number-container');
            securityCode.load('#securityCode-container');
        } catch (error) {
            errorsOutput.textContent = error.message;
            
        }
        
        
        // Configuring a Listener for the Pay button	
      payButton.addEventListener('click', function() {  
        
        // Compiling MM & YY into optional paramiters	 
          var options = {    
            expirationMonth: document.querySelector('#expMonth').value,  
            expirationYear: document.querySelector('#expYear').value 
          };              
        //  
          microform.createToken(options, function (err, token) {
            if (err) {
              // handle error
              console.error(err);
              errorsOutput.textContent = err.message;
            } else {
              // At this point you may pass the token back to your server as you wish.
              // In this example we append a hidden input to the form and submit it.      
              console.log(JSON.stringify(token));
              flexResponse.value = JSON.stringify(token);
            //   form.submit();
            }
          });
        }); 
    
          
          
</script>
</html>